<app-header [isSave]="isSave" [isRecipe]="!isSave" [title]="title"></app-header>

<ion-content class="publication-data">
    <img src="{{publication.image}}" />
    <h3><strong>Tiempo: </strong> {{publication.time}} minutos</h3>
    <h3><strong>Ingredientes</strong></h3>
    <div class="scrollable-list">
        <ion-list>
            <ion-item *ngFor="let ingredient of ingredients | keyvalue ">
                <ion-label><strong>{{ ingredient.key }}</strong>: {{ ingredient.value }}</ion-label>
            </ion-item>
        </ion-list>
    </div>
    <h3><strong>Elaboración: </strong></h3>
    <ion-text *ngFor="let step of publication.description; let i = index">
        <h4><strong>Paso {{ i + 1 }}: </strong></h4>
        <p>{{step}}</p>
    </ion-text>
</ion-content>