<app-header title="Home"></app-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding class="publication-item" *ngFor="let p of publications">
        <ion-item (click)= "goToRecipe(p)">
          <ion-avatar slot="start">
            <img [src]="p.image" />
          </ion-avatar>
          <ion-label>
            <div class="name">{{p.name}}</div>
            <div class="data">{{p.time}} minutos</div>

          </ion-label>

          <ion-badge slot="end" color="primary" *ngIf="isFavorite(p)">
            Favorite
          </ion-badge>

        </ion-item>
      <ion-item-options>
        <ion-item-option *ngIf="!isFavorite(p)" (click)="save(p)">
          <ion-icon class="option-btn" name="bookmark-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
      
    </ion-item-sliding>
  </ion-list>

</ion-content>